*{
   padding: 0;
   margin: 0;
   font-family:$fontFamily;
}

html{
   scroll-behavior: smooth;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
ul,
li,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section{
   margin: 0;
   padding: 0;
   border: 0;
}

a{
   text-decoration: none;
}

img{
   width: 100%;
}

.App{
   width: 100%;
   @include flexColumn(0vh);
}

article{
   > h3{
      color: $darkPurple;
      text-align: center;
   }

   > h4{
      color: $black;
      text-align: center;
   }
}

header{
   h1{
      color: white;
      font-weight: 700;
   }

   h3{
      color: white;
   }

   a{
      color: white;
   }

   span{
      color: $yellow;
   }

   > section{
      > a{
         color: white;
         background-color: $yellow;
      }
   }
}

footer{
   h2{
      color: $yellow;
   }
}